@font-face {
  font-family: "fontello";
  src: url("./assets/fonts/fontello.eot?74770062");
  src: url("./assets/fonts/fontello.eot?74770062#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/fontello.woff2?74770062") format("woff2"),
    url("./assets/fonts/fontello.woff?74770062") format("woff"),
    url("./assets/fonts/fontello.ttf?74770062") format("truetype"),
    url("./assets/fonts/fontello.svg?74770062#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: "\e800";
} /* '' */
.icon-gplus-squared:before {
  content: "\f0d4";
} /* '' */
.icon-facebook-official:before {
  content: "\f230";
} /* '' */
.icon-twitter-squared:before {
  content: "\f304";
} /* '' */

@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("./assets/fonts/TitilliumWeb-Bold.woff2") format("woff2"),
    url("./assets/fonts/TitilliumWeb-Bold.woff") format("woff"),
    url("./assets/fonts/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("./assets/fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("./assets/fonts/TitilliumWeb-Regular.woff") format("woff"),
    url("./assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb-SemiBold";
  src: url("./assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"),
    url("./assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("./assets/fonts/MyriadPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/MyriadPro-Regular.woff") format("woff"),
    url("./assets/fonts/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MalagaOT-RegItalic";
  src: url("./assets/fonts/MalagaOT-RegItalic.woff2") format("woff2"),
    url("./assets/fonts/MalagaOT-RegItalic.woff") format("woff"),
    url("./assets/fonts/MalagaOT-RegItalic.ttf") format("truetype");
}

body {
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
}

button:focus {
  outline: none;
}

.header {
  background: url("./assets/images/Layer_2@1X.png"),
    url("./assets/images/Layer_1_@1X.png");
  background-repeat: no-repeat;
  background-position: center center, 0 -89px;
  background-size: cover;
}

.header-section-1 {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 107px;
}

.header-section-1-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 50%;
  font-family: "TitilliumWeb-Bold", "MyriadPro-Regular";
  font-size: 1.9em;
  color: #797a79;
}

.header-section-1-logo p {
  margin: 0;
  height: 34px;
}

.header-section-1-logo span {
  color: #5b4295;
}

.header-section-1-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  font-family: "MyriadPro-Regular", "TitilliumWeb-Bold";
}

.header-section-1-nav-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding-left: 3%;
  width: 62%;
}

.header-section-1-nav li {
  display: inline-block;
}

.header-nav-list-button {
  width: 93px;
  height: 42px;
  margin-bottom: -11px;
  font-family: "MyriadPro-Regular", "TitilliumWeb-Bold";
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  background-image: linear-gradient(
    to left,
    #6275cb 0%,
    #5e5aaf 40%,
    #593183 100%
  );
}

.header-nav-list-button:hover {
  box-shadow: 0 14px 28px #8796c7, 0 10px 10px #cdd5e7;
}

.header-section-1-nav li a {
  text-decoration: none;
  color: #515151;
}

.header-section-1-nav li a:hover {
  color: #4a4a4a;
  text-decoration: underline;
}

.header-section-1-nav-list .icon-login {
  margin-right: 4px;
  color: #795698;
}

.wrapper {
  width: 70px;
  height: 30px;
  text-align: center;
  display: none;
}

#check-menu {
  display: none;
}

label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  color: #c2c2c2;
}

.burger-line {
  height: 2px;
  background-color: #c2c2c2;
  transition: 0.5s all;
}

.second {
  margin-top: 5px;
}

.third {
  margin-top: 5px;
}

.burger-menu {
  display: block;
  bottom: 0;
  left: 0;
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 0.5s all;
}

.burger-menu-item {
  display: inline-block;
  width: 100%;
  padding: 5px;
  color: #c2c2c2;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#check-menu:checked ~ .burger-menu {
  max-height: 238px;
  font-size: 16px;
  color: #c2c2c2;
}

.header-nav-language {
  width: 100%;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "MyriadPro-Regular", "TitilliumWeb-Bold";
  font-size: 0.9em;
}

.nav-language-list {
  width: 239px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 1.7%;
  margin: 0;
}

.nav-language-list li {
  display: inline-block;
}

.nav-language-list li:not(:last-child)::after {
  content: "\002F";
  padding-left: 10px;
}

.header-nav-language .nav-language-item-active {
  text-decoration: underline;
  font-size: bold;
  color: #797a79;
}

.header-nav-language a {
  color: #b1b1b1;
  text-decoration: none;
}

.header-nav-language li a:hover {
  font-size: bold;
  color: #797a79;
  text-decoration: underline;
}

.header-section-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 275px;
}

.header-section-2-inner {
  width: 100%;
  height: 101px;
  font-family: "TitilliumWeb-Regular", "TitilliumWeb-SemiBold";
  color: #797a79;
}

.header-section-2-inner h1 {
  margin-top: 0;
  height: 60px;
  line-height: 0.8;
  letter-spacing: 0.034em;
  text-align: center;
  word-spacing: 1.1px;
  font-size: 3.6em;
}

.header-section-2-inner h2 {
  margin-top: -22px;
  height: 41px;
  line-height: 0.7;
  text-align: center;
  font-size: 2.3em;
}

.header-section-2-inner h2 span {
  color: #fc6b6c;
}

.aside-social {
  position: fixed;
  top: 319px;
  right: 0px;
  width: 3.3%;
}

.aside-social-list {
  margin: 0;
  list-style-type: none;
  padding-left: 5px;
}

.aside-social-list li {
  padding-bottom: 13px;
}

.aside-social-list li:hover {
  -o-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

.aside-social-item {
  width: 20px;
  height: 20px;
  color: #676766;
  font-size: 1.4em;
}

.header-section-3 {
  height: 472px;
  width: 100%;
  overflow: hidden;
  max-width: 1800px;
  margin: 0 auto;
}

.header-section-3-inner {
  background: url("./assets/images/Layer_10@1X.png") no-repeat 50% 100%;
  padding-top: 4.6%;
  width: 602px;
  height: 79px;
  margin: auto;
}

.header-section-3-button {
  margin-left: 17.4%;
  border: none;
  font-family: "TitilliumWeb-Bold", "MyriadPro-Regular";
  background: #603870;
  color: #ffffff;
  cursor: pointer;
}

.header-section-3-button-1 {
  position: relative;
  margin: 0 11px 0 18%;
  width: 41%;
  height: 57px;
  top: -5px;
  font-size: 14pt;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    #646c92 0%,
    #625583 40%,
    #5f2f6a 100%
  );
}

.header-section-3-button-1-mini {
  display: none;
}

.header-section-3-button-1:hover,
.header-section-3-button-1-mini:hover,
.header-section-3-button-2:hover,
.header-section-3-button-3:hover {
  box-shadow: 0 14px 28px #8796c7, 0 10px 10px #cdd5e7;
}

.header-section-3-button-1-mini {
  margin: auto;
  width: 46px;
  height: 46px;
  border-radius: 99%;
}

.header-section-3-button-2 {
  margin: 5px 10px 0;
  width: 46px;
  height: 46px;
  border-radius: 99%;
}

.header-section-3-button-3 {
  margin-left: 7px;
  width: 46px;
  height: 46px;
  border-radius: 99%;
}

.main-container-1 {
  width: 100%;
  overflow: hidden;
  max-width: 1256px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
}

.main-container-1-inner-1 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 377px;
  margin-top: 1%;
}

.main-container-1-inner-1-section-1 {
  margin-left: 6px;
  width: 67px;
  height: 68px;
}

.main-container-1-inner-1-section-2 {
  margin: 5px 0 0 8px;
  width: 223px;
  height: 55px;
}

.main-container-1-inner-1-section-3 {
  margin: 18px 0 0 21px;
  width: 358px;
  height: 65px;
}

.main-container-1-inner-1-section-2 h3,
.main-container-1-inner-2-section-2 h3,
.main-container-1-inner-3-section-2 h3 {
  font-size: 1.9em;
  line-height: 1.1;
  letter-spacing: 0.3px;
  color: #555555;
}

.main-container-1-inner-1-section-2 h4,
.main-container-1-inner-2-section-2 h4,
.main-container-1-inner-3-section-2 h4 {
  line-height: 1.3;
  word-spacing: -1px;
  letter-spacing: 1.2px;
  color: #959393;
}

.main-container-1-inner-1-section-3,
.main-container-1-inner-2-section-3,
.main-container-1-inner-3-section-3 {
  line-height: 1.7;
  letter-spacing: 0.5px;
  word-spacing: 0.2px;
  font-size: 13px;
  text-align: left;
  color: #555555;
}

.main-container-1-inner-1-section-2 h3,
.main-container-1-inner-1-section-2 h4,
.main-container-1-inner-1-section-3 p,
.main-container-1-inner-2-section-2 h3,
.main-container-1-inner-2-section-2 h4,
.main-container-1-inner-2-section-3 p,
.main-container-1-inner-3-section-2 h3,
.main-container-1-inner-3-section-2 h4,
.main-container-1-inner-3-section-3 p {
  margin: 0;
}

.main-container-1-line-1 {
  position: absolute;
  left: 39.8%;
  top: 75%;
  width: 1px;
  height: 207px;
  background-color: #c2c2c2;
  margin-top: -108px;
}

.main-container-1-inner-2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 373px;
  margin-top: 1%;
}

.main-container-1-inner-2-section-1 {
  margin-top: -9px;
  width: 95px;
  height: 74px;
}

.main-container-1-inner-2-section-2 {
  margin: 7px 0 0 -8px;
  width: 240px;
  height: 48px;
}

.main-container-1-inner-2-section-3 {
  margin: 24px 0 0 28px;
  width: 340px;
  height: 81px;
}

.main-container-1-inner-3 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 384px;
  margin-top: 1%;
}

.main-container-1-inner-3-section-1 {
  width: 70px;
  height: 60px;
}

.main-container-1-inner-3-section-2 {
  margin: 5px 0 0 5px;
  width: 237px;
  height: 48px;
}

.main-container-1-inner-3-section-3 {
  margin: 27px 0 0 16px;
  width: 384px;
  height: 84px;
}

.main-container-1-line-2 {
  position: absolute;
  right: 0;
  width: 218px;
  height: 1px;
  background-color: #c2c2c2;
}

.main-container-1-inner-4 {
  display: flex;
  flex-wrap: wrap;
  margin: 133px 0 0 202px;
  width: 627px;
  height: 125px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.main-container-1-inner-4 h2 {
  margin: 0;
  width: 70%;
  height: 57px;
  line-height: 0.7;
  font-size: 45pt;
  word-spacing: 8px;
  letter-spacing: 0.1px;
  text-align: right;
  color: #535353;
}

.main-container-1-inner-4 h3 {
  margin: 12px 3px 0 0;
  width: 629px;
  line-height: 0.9;
  text-align: right;
  font-size: 1.5em;
  color: #959393;
}

.main-container-1-inner-4 h3 span {
  color: #fc6b6c;
}

.main-container-1-line-3 {
  position: absolute;
  top: 75%;
  left: 63.8%;
  width: 1px;
  height: 433px;
  background-color: #c2c2c2;
  word-spacing: 0.4px;
  letter-spacing: 0.1px;
}

.main-container-2 {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main-container-2-line {
  width: 54.14%;
  height: 1px;
  background-color: #c2c2c2;
}

.main-container-2-button {
  width: 334px;
  height: 62px;
  font-size: 1em;
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
  word-spacing: 2px;
  border-radius: 29px;
  color: #7b7b7b;
  background: #ffffff;
}

.main-container-2-button:hover {
  color: #ffffff;
  background: #7b7b7b;
}

.main-container-3 {
  margin-top: 40px;
  margin-left: 21px;
}

.main-container-4 {
  height: 1160px;
  background: url("./assets/images/Rectangle_1@1X.png") no-repeat 50% -89%;
}

.main-container-4-inner-1 {
  width: 100%;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  height: 763px;
  background: url("./assets/images/laptop_@1X.png") no-repeat 92% 41%;
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
}

.main-container-4-blockquote {
  padding-top: 54px;
  padding-left: 14.7%;
}

blockquote {
  position: relative;
  margin: 0;
  width: 532px;
  height: 143px;
  color: #333334;
  font-family: "MalagaOT-RegItalic";
}

blockquote:before {
  position: absolute;
  content: url("./assets/images/Ellipse_2.svg");
  left: -40px;
  top: 5px;
}

blockquote p {
  margin: 0 0 9px;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  line-height: 1.4;
}

blockquote cite {
  font-style: normal;
  font-weight: 300;
}

.container-4-apps-p-1 {
  padding-top: 116px;
  padding-left: 41%;
  width: 332px;
  height: 34px;
  font-size: 2.2em;
  word-spacing: 1.5px;
  letter-spacing: 0.3px;
}

.container-4-apps-p-2 {
  padding-left: 33.7%;
  padding-top: 28px;
  width: 433px;
  height: 70px;
  font-size: 1em;
  text-align: right;
  line-height: 1.4;
  word-spacing: 1.1px;
}

.container-4-apps-p-3 {
  padding-top: 26px;
  padding-left: 38.4%;
}
.container-4-apps-p-3 a {
  margin-right: 9px;
}

.container-4-apps-p-1,
.container-4-apps-p-2 {
  text-align: right;
  color: #535353;
  margin: 0;
}

.container-4-line-0 {
  position: absolute;
  top: 184%;
  right: 0;
  background-color: #bfbfbf;
  height: 1px;
  width: 78%;
}
.container-4-p {
  margin: auto;
  width: 644px;
  height: 71px;
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
}

.container-4-p-2 {
  margin: 0;
  font-size: 1.7em;
  color: #535353;
  line-height: 1;
  word-spacing: 2.2px;
  letter-spacing: 0.6px;
}

.container-4-p-1 {
  margin: 0 0 7px 32px;
  line-height: 1.1;
  word-spacing: 1.9px;
  letter-spacing: 0.3px;
  text-align: justify;
  font-size: 2.2em;
  color: #535353;
}

.container-4-button {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  padding-top: 44px;
  flex-direction: row;
  justify-content: center;
}

.container-4-button-upgrade {
  margin-right: 26px;
  width: 245px;
  height: 55px;
  font-size: 1em;
  border-radius: 29px;
  color: #ffffff;
  background: #583082;
  border: none;
  background-image: linear-gradient(
    to right,
    #646c92 0%,
    #625c88 40%,
    #60316b 100%
  );
  cursor: pointer;
}

.container-4-button-upgrade:hover {
  box-shadow: 0 14px 28px #8796c7, 0 10px 10px #cdd5e7;
}

.container-4-button-donate {
  width: 169px;
  height: 56px;
  font-size: 1em;
  border-radius: 29px;
  color: #ffffff;
  background: #583082;
  border: none;
  background-image: linear-gradient(
    to right,
    #36bae1 0%,
    #489de5 40%,
    #5e7bea 100%
  );
  margin-left: 24px;
  cursor: pointer;
}

.container-4-button-donate:hover {
  box-shadow: 0 14px 28px #8796c7, 0 10px 10px #cdd5e7;
}

.container-4-line-1 {
  margin-top: 82px;
  background-color: #bfbfbf;
  height: 1px;
  width: 77.9%;
}

.container-4-line-2 {
  margin-top: 82px;
  background-color: #bfbfbf;
  height: 441px;
  width: 1px;
}

.container-4-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1439px;
  align-items: flex-end;
}

.container-4-label p {
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
  margin-top: 21px;
  margin-bottom: 1px;
  margin-right: 60px;
  width: 234px;
  height: 14px;
  line-height: 1;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  font-size: 0.8em;
}

.container-4-label .label {
  opacity: 0.3;
}

.container-4-label-line-1 {
  position: absolute;
  top: 207.4%;
  left: 78%;
  height: 441px;
  width: 1px;
  background-color: #bfbfbf;
}

.footer {
  height: 400px;
  margin-top: 139px;
}

.footer-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1354px;
  overflow: hidden;
  margin: 0 auto;
  height: 228px;
  color: #676767;
}

.footer-block a {
  color: #676767;
  text-decoration: none;
}

.footer-block a:hover {
  text-decoration: underline;
}

.footer-line-1 {
  position: absolute;
  left: 200px;
  margin-top: 9px;
  width: 1px;
  height: 131px;
  background-color: #b9b9b9;
}

.footer-adress-1 {
  margin: 0;
  width: 213px;
  height: 130px;
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
}

.footer-adress-1 p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.6;
}

.footer-adress-1 p span {
  margin-left: 3px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.footer-adress-1-4 {
  padding-top: 23px;
}

.footer-adress-1-5 {
  font-weight: 700;
  letter-spacing: 0.3px;
  text-decoration: underline;
  text-decoration-color: #e2e2e2;
}

.footer-list-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 54%;
}

.footer-list-menu-1 {
  width: 74px;
  height: 152px;
  margin-right: 14%;
}

.footer-list-menu-1 ul {
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
  font-size: 0.9em;
  padding: 0;
  direction: rtl;
  float: left;
  width: 52px;
  list-style-type: square;
  margin-top: 23px;
}

.footer-list-menu-1 p,
.footer-list-menu-2 p,
.footer-list-menu-3 p {
  font-family: "TitilliumWeb-Bold", "MyriadPro-Bold";
  margin: 0;
  letter-spacing: 0.3px;
  font-size: 1.1em;
  text-align: right;
}

.footer-list-menu-1 li,
.footer-list-menu-2 li,
.footer-list-menu-3 li {
  line-height: 1.6;
  text-align: right;
  padding-left: 9px;
}

.footer-line-2 {
  position: absolute;
  left: 946px;
  background-color: #b9b9b9;
  height: 319px;
  width: 1px;
}

.footer-list-menu-2 {
  width: 155px;
  height: 155px;
  margin-right: 11%;
}

.footer-list-menu-2 ul {
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
  padding: 0;
  direction: rtl;
  float: left;
  width: 137px;
  font-size: 0.9em;
  margin-top: 23px;
  list-style-type: square;
}

.footer-list-menu-3 {
  width: 123px;
  height: 152px;
}

.footer-list-menu-3 ul {
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
  padding: 0;
  direction: rtl;
  float: left;
  width: 106px;
  font-size: 0.9em;
  margin-top: 23px;
  list-style-type: square;
}

.footer-list-menu-4,
.footer-end {
  width: 100%;
  max-width: 1398px;
  margin: 0 auto;
  color: #676767;
  font-family: "TitilliumWeb-Regular", "MyriadPro-Regular";
}

.footer-list-menu-4 ul {
  font-size: 0.7em;
  padding: 0;
  width: 362px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-list-menu-4 ul li {
  display: inline-block;
  margin: 0;
  color: #676767;
}

.footer-list-menu-4 ul li:not(:last-child)::after {
  content: "\002F";
  padding-left: 13px;
}

.footer-list-menu-4 a {
  color: #676767;
  text-decoration: underline;
}

.footer-list-menu-4 a:hover {
  font-family: "TitilliumWeb-Bold";
  color: #b1b1b1;
  text-decoration: underline;
}

.footer-end {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1.9;
  font-size: 0.8em;
  letter-spacing: -0.2px;
}

@media (max-width: 1200px) {
  .header-nav-list-button {
    display: none;
  }
  .main-container-1-line-1,
  .main-container-1-line-2,
  .main-container-1-line-3,
  .container-4-line-0,
  .container-4-line-1,
  .container-4-label-line-1,
  .footer-line-1,
  .footer-line-2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header-section-1-nav-list {
    display: none;
  }
  .header-section-1-nav {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .wrapper {
    display: block;
  }
  .aside-social {
    top: 384px;
    right: 17px;
  }
  h2 {
    display: none;
  }
  .main-container-1-inner-4 {
    margin: 133px 0 0 0;
  }
}

@media (max-width: 540px) {
  .main-container-1 {
    justify-content: center;
  }
  .main-container-1-inner-4 {
    display: none;
  }
  .header-section-3-inner {
    text-align: center;
    width: 400px;
  }
  .header-section-3-button-1 {
    display: none;
  }
  .header-section-3-button-1-mini {
    display: inline-block;
  }
  .aside-social {
    display: none;
  }
  .main-container-4-blockquote {
    display: none;
  }
  .container-4-apps-p-3 {
    padding: 25%;
  }
  .container-4-apps-p-1,
  .container-4-apps-p-2 {
    margin: 0 auto;
  }
  .container-4-p {
    display: none;
  }
  .footer-list-menu-4 ul {
    justify-content: center;
  }
}
